{% extends 'base.html.twig' %}

{% block title %}Faune{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Faune</h1>
    <div class="row">
        {% if faune is not empty %}
            {% for animal in faune %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{ asset(animal.img) }}" class="card-img-top" alt="Image de faune">
                        <div class="card-body">
                            <p class="card-text">{{ animal.commentaire }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">Aucun animal trouvé.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
