{% extends 'base.html.twig' %}

{% block title %}Liste des Avengers{% endblock %}

{% block head %}
{{ parent() }}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Liste des Avengers</h1>
    
    {% if marquesP is not empty %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover shadow table-custom">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Pouvoir</th>
                </tr>
            </thead>
            <tbody>
                {% for mpr in marquesP %}
                <tr>
                    <td>{{ mpr.id }}</td>
                    <td>{{ mpr.url }}</td>
                    <td>{{ mpr.commentaire }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info alert-custom" role="alert">
        Aucun Avenger trouvé.
    </div>
    {% endif %}
</div>
{% endblock %}
