{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
    {% if marquePageAjoute %}
        <h1>Marque-page ajouté avec succès !</h1>
        <p>Merci d'avoir ajouté un marque-page.</p>
    {% elseif marquePageModifie %}
        <h1>Marque-page modifié avec succès !</h1>
        <p>Merci d'avoir modifié un marque-page.</p>
    {% endif %}
    <a href="{{ retour_url }}">Retour à la liste des marque-pages</a>
{% endblock %}
