{% extends 'base.html.twig' %}

{% block title %}{% trans %}Succès{% endtrans %}{% endblock %}

{% block body %}
    {% if marquePageAjoute %}
        <h1>{% trans %}Marque-page ajouté avec succès !{% endtrans %}</h1>
        <p>{% trans %}Merci d'avoir ajouté un marque-page.{% endtrans %}</p>
    {% elseif marquePageModifie %}
        <h1>{% trans %}Marque-page modifié avec succès !{% endtrans %}</h1>
        <p>{% trans %}Merci d'avoir modifié un marque-page.{% endtrans %}</p>
    {% endif %}
    <a href="{{ retour_url }}">{% trans %}Retour à la liste des marque-pages{% endtrans %}</a>
{% endblock %}
