{% extends 'base.html.twig' %}

{% block title %}
    Modifier le marque-page
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier le marque-page</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                {{ form_start(form) }}

                {# Affichage des champs du formulaire #}
                {{ form_widget(form) }}

                {# Bouton de soumission du formulaire #}
                <button type="submit" class="btn btn-primary">Modifier</button>

                {{ form_end(form) }}

                {# Bouton de retour #}
                <a href="{{ path('marque_pages_index') }}" class="btn btn-dark">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
