/* Importation des polices Google */
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
  --transition-duration: 700ms;
  --transition-easing: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
  --font-cartoon: 'Comic Neue', sans-serif;
  --card-bg-color: whitesmoke;
  --btn-hover-color: #333;
  --focus-outline-color: yellow;
}

* {
  box-sizing: border-box;
}

body, button, input, textarea {
  font-family: var(--font-cartoon);

}
input, textarea {
  margin: 1rem;
}  

h1, h2, h3, h4, h5, h6 {
  color: #305f72;
}

.page-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem); 
}

.card, .card2 {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  background-color: var(--card-bg-color);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: 350px;
  transition: transform var(--transition-duration) var(--transition-easing);
}

.card img, .card2 img {
  height: 150px; 
  object-fit: contain;
  border-radius: 90%;
}

.card:hover, .card2:hover {
  transform: scale(0.95);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.title, .copy {
  margin: 0.5rem 0;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
margin: 1rem;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--btn-hover-color);
  color: lightgray;
}

.btn:focus {
  outline: 2px dashed var(--focus-outline-color);
  outline-offset: 3px;
}

@media (hover: hover) {
  .card:hover .content, .card2:hover .content {
    transform: translateY(-10%);
  }
}
