{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Succès{% endtrans %}
{% endblock %}

{% block body %}
    {% if employeAjoute %}
        <h1>{% trans %}Employé ajouté avec succès !{% endtrans %}</h1>
        <p>{% trans %}Merci d'avoir ajouté un employé.{% endtrans %}</p>
    {% elseif employeModifie %}
        <h1>{% trans %}Employé modifié avec succès !{% endtrans %}</h1>
        <p>{% trans %}Merci d'avoir modifié un employé.{% endtrans %}</p>
    {% endif %}
    <a href="{{ retour_url }}">
        {% trans %}Retour à la liste des employés{% endtrans %}
    </a>
{% endblock %}
